Repository mwaskom/seaborn, pull requests merged in 2020-11, with the labels that each got.

#2359 Fix jointplot reference syntax in distributions tutorial.
  doc/tutorial/distributions.ipynb
Labels: docs

#2347 better checks for `sharey` and `sharex` in `axesgrid.py`
  seaborn/axisgrid.py
Labels: bugfix, mod:axisgrid

#2328 MAINT: Drop nose and test on python==3.9
  .travis.yml
  ci/utils.txt
  pytest.ini
  seaborn/conftest.py
  seaborn/tests/test_axisgrid.py
  seaborn/tests/test_categorical.py
  seaborn/tests/test_matrix.py
  seaborn/tests/test_miscplot.py
  seaborn/tests/test_palettes.py
  seaborn/tests/test_rcmod.py
  seaborn/tests/test_regression.py
  setup.py
Labels: infrastructure, testing

#2363 TST: FIX: Consider array length in artist arrays comparison
  seaborn/_testing.py
  seaborn/tests/test_axisgrid.py
  seaborn/tests/test_distributions.py
Labels: bugfix, testing
