Repository mwaskom/seaborn, pull requests merged in 2020-09, with the labels that each got.

#2237 Add new palette functionality and new colormaps
  examples/faceted_lineplot.py
  examples/pairgrid_dotplot.py
  examples/scatterplot_sizes.py
  examples/timeseries_facets.py
  seaborn/_core.py
  seaborn/cm.py
  seaborn/distributions.py
  seaborn/palettes.py
  seaborn/tests/test_palettes.py
Labels: enhancement, mod:palettes

#2239 Pre-release docs enhancements
  doc/_static/style.css
  doc/conf.py
  doc/docstrings/FacetGrid.ipynb
  doc/docstrings/JointGrid.ipynb
  doc/docstrings/color_palette.ipynb
  doc/docstrings/displot.ipynb
  doc/docstrings/ecdfplot.ipynb
  doc/docstrings/histplot.ipynb
  doc/docstrings/jointplot.ipynb
  doc/docstrings/kdeplot.ipynb
  doc/docstrings/lineplot.ipynb
  doc/docstrings/relplot.ipynb
  doc/docstrings/rugplot.ipynb
  doc/docstrings/scatterplot.ipynb
  doc/index.rst
  doc/introduction.ipynb
  doc/releases/v0.11.0.txt
  doc/releases/v0.4.0.txt
  doc/sphinxext/gallery_generator.py
  doc/tools/nb_to_doc.py
  doc/tutorial.rst
  doc/tutorial/aesthetics.ipynb
  doc/tutorial/axis_grids.ipynb
  doc/tutorial/categorical.ipynb
  doc/tutorial/color_palettes.ipynb
  doc/tutorial/data_structure.ipynb
  doc/tutorial/distributions.ipynb
  doc/tutorial/function_overview.ipynb
  doc/tutorial/regression.ipynb
  doc/tutorial/relational.ipynb
  doc/whatsnew.rst
  examples/cubehelix_palette.py
  examples/different_scatter_variables.py
  examples/grouped_barplot.py
  examples/many_pairwise_correlations.py
  examples/scatterplot_matrix.py
  examples/scatterplot_sizes.py
  examples/structured_heatmap.py
  examples/timeseries_facets.py
  seaborn/axisgrid.py
  seaborn/palettes.py
  seaborn/rcmod.py
Labels: docs

#2245 Add proper logos to docs
  README.md
  doc/_static/favicon.ico
  doc/_static/favicon_old.ico
  doc/_static/logo-mark-darkbg.png
  doc/_static/logo-mark-darkbg.svg
  doc/_static/logo-mark-lightbg.png
  doc/_static/logo-mark-lightbg.svg
  doc/_static/logo-mark-whitebg.png
  doc/_static/logo-mark-whitebg.svg
  doc/_static/logo-tall-darkbg.png
  doc/_static/logo-tall-darkbg.svg
  doc/_static/logo-tall-lightbg.png
  doc/_static/logo-tall-lightbg.svg
  doc/_static/logo-tall-whitebg.png
  doc/_static/logo-tall-whitebg.svg
  doc/_static/logo-wide-darkbg.png
  doc/_static/logo-wide-darkbg.svg
  doc/_static/logo-wide-lightbg.png
  doc/_static/logo-wide-lightbg.svg
  doc/_static/logo-wide-whitebg.png
  doc/_static/logo-wide-whitebg.svg
  doc/_static/style.css
  doc/citing.rst
  doc/conf.py
  doc/index.rst
  doc/tools/generate_logos.py
Labels: docs

#2247 Fix discrete string-specified light/dark palettes
  seaborn/palettes.py
  seaborn/tests/test_palettes.py
Labels: bugfix, mod:palettes

#2242 DOC: minor fixes
  doc/docstrings/scatterplot.ipynb
  doc/introduction.ipynb
  doc/tutorial/axis_grids.ipynb
  doc/tutorial/function_overview.ipynb
  doc/tutorial/relational.ipynb
Labels: docs

#2248 Better documentation of FacetGrid's access to underlying matplotlib objects
  doc/docstrings/FacetGrid.ipynb
  seaborn/axisgrid.py
Labels: docs

#2250 Pre-release docs updates
  doc/_static/logo-mark-darkbg.png
  doc/_static/logo-mark-darkbg.svg
  doc/_static/logo-mark-lightbg.png
  doc/_static/logo-mark-lightbg.svg
  doc/_static/logo-mark-whitebg.png
  doc/_static/logo-mark-whitebg.svg
  doc/_static/logo-tall-darkbg.png
  doc/_static/logo-tall-darkbg.svg
  doc/_static/logo-tall-lightbg.png
  doc/_static/logo-tall-lightbg.svg
  doc/_static/logo-tall-whitebg.png
  doc/_static/logo-tall-whitebg.svg
  doc/_static/logo-wide-darkbg.png
  doc/_static/logo-wide-darkbg.svg
  doc/_static/logo-wide-lightbg.png
  doc/_static/logo-wide-lightbg.svg
  doc/_static/logo-wide-whitebg.png
  doc/_static/logo-wide-whitebg.svg
  doc/citing.rst
  doc/docstrings/kdeplot.ipynb
  doc/docstrings/lineplot.ipynb
  doc/docstrings/scatterplot.ipynb
  doc/index.rst
  doc/installing.rst
  doc/introduction.ipynb
  doc/releases/v0.11.0.txt
  doc/tools/generate_logos.py
  doc/tools/nb_to_doc.py
  doc/tutorial.rst
  doc/tutorial/color_palettes.ipynb
  doc/tutorial/function_overview.ipynb
  examples/grouped_violinplots.py
  examples/heat_scatter.py
  examples/histogram_stacked.py
  examples/joint_histogram.py
  examples/palette_choices.py
  examples/palette_generation.py
  examples/part_whole_bars.py
  examples/simple_violinplots.py
  examples/spreadsheet_heatmap.py
  examples/timeseries_facets.py
  seaborn/axisgrid.py
  seaborn/distributions.py
Labels: docs

#2255 Fix non-default color arguments in displot
  seaborn/_testing.py
  seaborn/distributions.py
Labels: bugfix, mod:distributions

#2256 Improve PairGrid tight_layout
  seaborn/axisgrid.py
Labels: mod:axisgrid

#2262 Pass `col_order` and `row_order` to FacetGrid in displot
  seaborn/distributions.py
Labels: bugfix
