Repository mwaskom/seaborn, pull requests merged in 2020-10, with the labels that each got.

#2270 Fix PairGrid with non-square grid and non-marginal diagonal axes
  doc/releases/v0.11.1.txt
  seaborn/axisgrid.py
  seaborn/tests/test_axisgrid.py
Labels: bugfix, mod:axisgrid

#2281 TST: fix colors and paths comparison in relational tests
  seaborn/tests/test_relational.py
Labels: bugfix

#2287 Fix: use linewidth in boxenplot elements
  seaborn/categorical.py
Labels: bugfix, mod:categorical

#2302 throw a meaningful error message in lmplot in case kwarg is missing
  seaborn/regression.py
  seaborn/tests/test_regression.py
Labels: enhancement, mod:regression

#2323 Fix: do not annotate clustermap w/ annot=False
  seaborn/matrix.py
Labels: bugfix, mod:matrix

#2304 Fix `adjust_subtitles` when `legend_out=False`.
  seaborn/axisgrid.py
  seaborn/tests/test_axisgrid.py
Labels: bugfix, mod:axisgrid

#2335 Force doc CI to use Python 3.8
  .github/workflows/ci.yaml
Labels: infrastructure, testing

#2313 Error if row/col colors are indexed but data isn't
  doc/conf.py
  seaborn/matrix.py
  seaborn/tests/test_matrix.py
Labels: mod:matrix
