Repository mwaskom/seaborn, pull requests merged in 2020-12, with the labels that each got.

#2368 Fix pairgrid
  seaborn/axisgrid.py
  seaborn/tests/test_axisgrid.py
Labels: bugfix, mod:axisgrid

#2378 Fix faceted bivariate KDE normalization
  seaborn/distributions.py
  seaborn/tests/test_distributions.py
Labels: bugfix, mod:distributions

#2273 Fix NA propagation in lineplot
  seaborn/relational.py
  seaborn/tests/test_relational.py
  seaborn/utils.py
Labels: bugfix, mod:relational

#2379 FIX: Infer categorical dtypes before boolean resolution
  seaborn/_core.py
  seaborn/tests/test_core.py
Labels: bugfix, mod:core

#2383 Run tests on github actions
  .github/workflows/ci.yaml
  .travis.yml
  ci/deps_pinned.txt
Labels: infrastructure

#2382 Assorted fixes for small problems
  doc/releases/v0.11.0.txt
  doc/releases/v0.11.1.txt
  doc/whatsnew.rst
  examples/pairgrid_dotplot.py
  seaborn/axisgrid.py
  seaborn/distributions.py
  seaborn/palettes.py
  seaborn/tests/test_axisgrid.py
Labels: bugfix, mod:axisgrid

#2386 Add/restore functionality to long-form data processing
  doc/releases/v0.11.1.txt
  seaborn/_core.py
  seaborn/tests/test_core.py
Labels: api, mod:core

#2389 Allow clustermap row/col colors to be categorical
  seaborn/matrix.py
  seaborn/tests/test_matrix.py
Labels: bugfix, mod:matrix

#2388 Reduce usage of global matplotlib state in axisgrid objects
  doc/releases/v0.11.1.txt
  seaborn/axisgrid.py
  seaborn/tests/test_axisgrid.py
Labels: enhancement, mod:axisgrid

#2393 Docs tidying for v0.11.1 release
  .github/workflows/ci.yaml
  doc/api.rst
  doc/conf.py
  doc/releases/v0.11.1.txt
  doc/requirements.txt
  doc/tutorial/color_palettes.ipynb
  seaborn/categorical.py
  seaborn/distributions.py
Labels: docs

#2396 Raise minimal supported Python to 3.7 and bump requirements
  .github/workflows/ci.yaml
  README.md
  ci/deps_pinned.txt
  doc/installing.rst
  doc/releases/v0.12.0.txt
  doc/whatsnew.rst
  seaborn/_statistics.py
  seaborn/axisgrid.py
  seaborn/categorical.py
  seaborn/rcmod.py
  seaborn/tests/test_categorical.py
  seaborn/tests/test_distributions.py
  seaborn/tests/test_matrix.py
  seaborn/tests/test_rcmod.py
  setup.py
Labels: infrastructure

#2398 Make scipy an optional dependency
  .github/workflows/ci.yaml
  README.md
  ci/deps_latest.txt
  ci/deps_minimal.txt
  ci/deps_pinned.txt
  doc/installing.rst
  doc/releases/v0.12.0.txt
  requirements.txt
  seaborn/_statistics.py
  seaborn/categorical.py
  seaborn/distributions.py
  seaborn/external/kde.py
  seaborn/matrix.py
  seaborn/regression.py
  seaborn/tests/test_categorical.py
  seaborn/tests/test_distributions.py
  seaborn/tests/test_matrix.py
  seaborn/tests/test_statistics.py
  seaborn/tests/test_utils.py
  seaborn/utils.py
  setup.py
Labels: infrastructure, statistics
