Repository mwaskom/seaborn, pull requests merged in 2020-06, with the labels that each got.

#2116 Fix dud test in test_utils.py
  seaborn/tests/test_utils.py
Labels: bugfix, testing

#2104 Modernize kdeplot and rugplot
  .gitignore
  .travis.yml
  doc/matplotlibrc
  doc/releases/v0.11.0.txt
  doc/tutorial/color_palettes.ipynb
  doc/tutorial/distributions.ipynb
  examples/cubehelix_palette.py
  examples/joint_kde.py
  examples/kde_ridgeplot.py
  examples/multiple_conditional_kde.py
  examples/multiple_joint_kde.py
  examples/smooth_bivariate_kde.py
  seaborn/_core.py
  seaborn/_docstrings.py
  seaborn/_statistics.py
  seaborn/axisgrid.py
  seaborn/distributions.py
  seaborn/external/docscrape.py
  seaborn/tests/test_axisgrid.py
  seaborn/tests/test_core.py
  seaborn/tests/test_distributions.py
  seaborn/tests/test_docstrings.py
  seaborn/tests/test_statistics.py
  seaborn/utils.py
  setup.cfg
Labels: api, enhancement, mod:distributions, plots, refactor

#2103 FIX: don't fail on heatmap with int data and mask
  seaborn/matrix.py
  seaborn/tests/test_matrix.py
Labels: bugfix, mod:matrix

#2086 Boxenplot bug fixes, small features and style changes
  doc/releases/v0.11.0.txt
  seaborn/categorical.py
  seaborn/tests/test_categorical.py
Labels: bugfix, mod:categorical

#2123 Store code examples in API docs using notebooks
  .github/workflows/ci.yaml
  doc/.gitignore
  doc/Makefile
  doc/docstrings/Makefile
  doc/docstrings/kdeplot.ipynb
  doc/docstrings/rugplot.ipynb
  doc/tools/extract_examples.py
  doc/tools/nb_to_doc.py
  doc/tutorial/Makefile
  seaborn/_docstrings.py
  seaborn/distributions.py
Labels: docs, infrastructure, testing

#2125 Add histplot function
  ci/deps_pinned.txt
  doc/Makefile
  doc/api.rst
  doc/docstrings/Makefile
  doc/docstrings/histplot.ipynb
  doc/releases/v0.11.0.txt
  doc/tutorial/Makefile
  doc/whatsnew.rst
  examples/multi_bivariate_plot.py
  examples/multiple_regression.py
  examples/smooth_bivariate_kde.py
  examples/stacked_histogram.py
  seaborn/_core.py
  seaborn/_docstrings.py
  seaborn/_statistics.py
  seaborn/axisgrid.py
  seaborn/conftest.py
  seaborn/distributions.py
  seaborn/tests/test_axisgrid.py
  seaborn/tests/test_core.py
  seaborn/tests/test_distributions.py
  seaborn/tests/test_statistics.py
  seaborn/utils.py
  setup.cfg
  setup.py
Labels: enhancement, mod:distributions, plots

#2136 Fix default color in histplot with datetime variable
  seaborn/conftest.py
  seaborn/distributions.py
  seaborn/tests/test_core.py
  seaborn/tests/test_distributions.py
Labels: bugfix

#2138 Improve support for datetime (and categorical) data in relational plots
  doc/releases/v0.11.0.txt
  seaborn/_core.py
  seaborn/conftest.py
  seaborn/relational.py
  seaborn/tests/test_core.py
  seaborn/tests/test_relational.py
Labels: enhancement, mod:relational, refactor, upstream

#2140 Clarified documentation of despine
  seaborn/utils.py
Labels: docs

#2141 Add ecdfplot function
  doc/api.rst
  doc/docstrings/ecdfplot.ipynb
  doc/docstrings/histplot.ipynb
  doc/releases/v0.11.0.txt
  seaborn/_docstrings.py
  seaborn/_statistics.py
  seaborn/distributions.py
  seaborn/tests/test_distributions.py
  seaborn/tests/test_statistics.py
Labels: enhancement, mod:distributions, plots

#2146 TST: Increase testing speed by utilizing multiple cores
  .travis.yml
  Makefile
  ci/cache_test_datasets.py
  ci/utils.txt
Labels: infrastructure, testing

#2148 Dont add null columns in plot_data for unassigned semantics
  seaborn/_core.py
  seaborn/relational.py
  seaborn/tests/test_relational.py
Labels: mod:core
