Repository mwaskom/seaborn, pull requests merged in 2020-05, with the labels that each got.

#2083 Improve FacetGrid margin titles to not show previous texts
  doc/releases/v0.11.0.txt
  seaborn/axisgrid.py
  seaborn/tests/test_axisgrid.py
Labels: enhancement, mod:axisgrid, plots

#2081 Require keyword arguments almost everywhere
  doc/releases/v0.11.0.txt
  doc/tutorial/axis_grids.ipynb
  doc/tutorial/categorical.ipynb
  doc/tutorial/color_palettes.ipynb
  doc/tutorial/distributions.ipynb
  doc/tutorial/regression.ipynb
  doc/tutorial/relational.ipynb
  examples/cubehelix_palette.py
  examples/distplot_options.py
  examples/hexbin_marginals.py
  examples/joint_kde.py
  examples/marginal_ticks.py
  examples/regression_marginals.py
  examples/residplot.py
  seaborn/_decorators.py
  seaborn/axisgrid.py
  seaborn/categorical.py
  seaborn/distributions.py
  seaborn/regression.py
  seaborn/relational.py
  seaborn/tests/test_axisgrid.py
  seaborn/tests/test_categorical.py
  seaborn/tests/test_decorators.py
  seaborn/tests/test_distributions.py
  seaborn/tests/test_regression.py
  seaborn/tests/test_relational.py
Labels: api, plots

#2084 Centralize and modify variable type inference
  doc/installing.rst
  doc/releases/v0.11.0.txt
  seaborn/axisgrid.py
  seaborn/categorical.py
  seaborn/conftest.py
  seaborn/core.py
  seaborn/relational.py
  seaborn/tests/test_categorical.py
  seaborn/tests/test_core.py
  seaborn/tests/test_relational.py
  seaborn/utils.py
  setup.py
  testing/deps_pinned.txt
Labels: api, refactor

#2087 Deprecate iqr and axlabel; improve deprecation warning class
  doc/releases/v0.11.0.txt
  seaborn/distributions.py
  seaborn/tests/test_utils.py
  seaborn/utils.py
Labels: api

#2090 Refactor semantic mapping operations
  doc/tutorial/relational.ipynb
  pytest.ini
  seaborn/_core.py
  seaborn/_decorators.py
  seaborn/axisgrid.py
  seaborn/categorical.py
  seaborn/core.py
  seaborn/distributions.py
  seaborn/relational.py
  seaborn/tests/test_axisgrid.py
  seaborn/tests/test_core.py
  seaborn/tests/test_decorators.py
  seaborn/tests/test_distributions.py
  seaborn/tests/test_relational.py
  seaborn/tests/test_utils.py
  seaborn/utils.py
Labels: mod:core, refactor

#2095 Improve lineplot handling of mpl kwargs
  doc/releases/v0.11.0.txt
  seaborn/relational.py
  seaborn/tests/test_relational.py
Labels: bugfix, mod:relational

#2097 Refactor method for getting semantic subsets down to core
  seaborn/_core.py
  seaborn/relational.py
  seaborn/tests/test_core.py
  seaborn/tests/test_relational.py
Labels: mod:core, refactor

#2098 DOC: small fixes
  doc/conf.py
  examples/multiple_joint_kde.py
Labels: docs

#2100 Fix typo and dud test
  seaborn/_core.py
  seaborn/conftest.py
Labels: bugfix, mod:core

#2109 Test docs during CI
  .github/workflows/ci.yaml
  .travis.yml
  ci/check_gallery.py
  ci/deps_latest.txt
  ci/deps_minimal.txt
  ci/deps_pinned.txt
  ci/getmsfonts.sh
  ci/utils.txt
  doc/tutorial/distributions.ipynb
  seaborn/tests/test_rcmod.py
  testing/matplotlibrc_agg
  testing/matplotlibrc_qtagg
Labels: docs, infrastructure, testing
