Repository mwaskom/seaborn, pull requests merged in 2020-08, with the labels that each got.

#2165 remove magic number in examples
  examples/faceted_lineplot.py
Labels: docs

#2188 Improve matrix functions docstrings
  doc/installing.rst
  seaborn/matrix.py
Labels: docs

#2197 Don't test on matplotlib 3.3.1 to avoid scatter bug
  ci/deps_latest.txt
  ci/deps_minimal.txt
Labels: testing, upstream

#2157 Add displot, a figure-level distribution function
  .travis.yml
  Makefile
  doc/api.rst
  doc/docstrings/displot.ipynb
  doc/docstrings/histplot.ipynb
  doc/releases/v0.11.0.txt
  doc/tutorial.rst
  doc/tutorial/distributions.ipynb
  examples/distplot_options.py
  examples/faceted_histogram.py
  examples/multiple_ecdf.py
  examples/pair_grid_with_kde.py
  examples/radial_facets.py
  examples/three_variable_histogram.py
  seaborn/_core.py
  seaborn/_docstrings.py
  seaborn/axisgrid.py
  seaborn/conftest.py
  seaborn/distributions.py
  seaborn/relational.py
  seaborn/tests/test_core.py
  seaborn/tests/test_distributions.py
  seaborn/tests/test_utils.py
  seaborn/utils.py
Labels: enhancement, mod:distributions, plots

#2167 Elaborate on how to test seaborn and build the docs
  README.md
  doc/README.md
Labels: docs, infrastructure

#2200 Fix and modernize aspects of relational plot docs
  doc/api.rst
  doc/index.rst
  doc/tutorial.rst
  seaborn/_docstrings.py
  seaborn/axisgrid.py
  seaborn/relational.py
  seaborn/tests/test_relational.py
Labels: docs, mod:relational

#2199 Handle matplotlib 3.3 deprecations
  seaborn/_core.py
  seaborn/matrix.py
Labels: upstream

#2202 Support wide data with categorical columns
  seaborn/_core.py
  seaborn/distributions.py
  seaborn/relational.py
  seaborn/tests/test_core.py
Labels: api, mod:core

#2201 Convert relational model API examples to use notebooks
  doc/_static/style.css
  doc/docstrings/displot.ipynb
  doc/docstrings/ecdfplot.ipynb
  doc/docstrings/histplot.ipynb
  doc/docstrings/kdeplot.ipynb
  doc/docstrings/lineplot.ipynb
  doc/docstrings/relplot.ipynb
  doc/docstrings/scatterplot.ipynb
  doc/tools/nb_to_doc.py
  seaborn/relational.py
Labels: docs

#2203 Always set private despine variable in PairGrid
  seaborn/axisgrid.py
  seaborn/tests/test_axisgrid.py
Labels: bugfix, mod:axisgrid

#2205 Improve variable assignment feedback
  seaborn/_core.py
  seaborn/categorical.py
  seaborn/conftest.py
  seaborn/tests/test_core.py
  seaborn/tests/test_distributions.py
Labels: mod:core

#2206 Avoid kde when variance is almost 0
  seaborn/distributions.py
Labels: mod:distributions

#2208 Address various warnings raised within the tests
  pytest.ini
  seaborn/_core.py
  seaborn/algorithms.py
  seaborn/axisgrid.py
  seaborn/tests/test_axisgrid.py
  seaborn/tests/test_categorical.py
  seaborn/tests/test_core.py
  seaborn/tests/test_distributions.py
Labels: testing, upstream

#2069 Prefer scatterplot over plt.scatter in examples and plotters
  seaborn/axisgrid.py
Labels: docs, mod:relational

#2196 FIX: allow un-sharing categories in catplot
  doc/releases/v0.11.0.txt
  seaborn/axisgrid.py
  seaborn/categorical.py
  seaborn/distributions.py
  seaborn/tests/test_categorical.py
Labels: enhancement, mod:categorical

#2217 Remove deprecated JointGrid annotation code
  doc/releases/v0.11.0.txt
  doc/releases/v0.9.0.txt
  seaborn/axisgrid.py
  seaborn/tests/test_axisgrid.py
Labels: api, mod:axisgrid

#2218 Add user guide documentation on plotting functions and data structures
  doc/_static/style.css
  doc/introduction.ipynb
  doc/releases/v0.11.0.txt
  doc/tutorial.rst
  doc/tutorial/data_structure.ipynb
  doc/tutorial/function_overview.ipynb
  examples/scatterplot_matrix.py
  examples/scatterplot_sizes.py
  seaborn/matrix.py
  seaborn/tests/test_utils.py
  seaborn/utils.py
Labels: docs

#2221 Use decreasing values for categorical size mapping
  seaborn/_core.py
  seaborn/tests/test_core.py
Labels: bugfix, mod:core

#2225 Add a rich HTML representation of color palette objects
  doc/releases/v0.11.0.txt
  doc/tutorial/color_palettes.ipynb
  seaborn/palettes.py
  seaborn/tests/test_palettes.py
Labels: enhancement, mod:palettes

#2224 Reverse direction of default distributions sequential colormap
  doc/tutorial/distributions.ipynb
  examples/layered_bivariate_plot.py
  seaborn/distributions.py
Labels: mod:distributions

#2229 Reduce surprise about relational plot legends
  ci/deps_latest.txt
  ci/deps_minimal.txt
  doc/docstrings/lineplot.ipynb
  doc/docstrings/scatterplot.ipynb
  doc/releases/v0.11.0.txt
  seaborn/_core.py
  seaborn/axisgrid.py
  seaborn/relational.py
  seaborn/tests/test_relational.py
  seaborn/tests/test_utils.py
  seaborn/utils.py
Labels: mod:relational

#2233 Don't try to set attributes on removed axes
  seaborn/axisgrid.py
  seaborn/tests/test_axisgrid.py
Labels: bugfix

#2234 Delegate hue in PairGrid to plotting functions
  doc/docstrings/PairGrid.ipynb
  doc/docstrings/pairplot.ipynb
  doc/tools/extract_examples.py
  seaborn/axisgrid.py
  seaborn/distributions.py
  seaborn/tests/test_axisgrid.py
Labels: enhancement, mod:axisgrid
