Repository mwaskom/seaborn, pull requests merged in 2021-02, with the labels that each got.

#2461 Add percent-based normalization in histplot
  doc/releases/v0.12.0.txt
  seaborn/_statistics.py
  seaborn/tests/test_distributions.py
Labels: enhancement, mod:distributions, plots

#2462 Fix multiple resolution when hue variable has no name
  doc/releases/v0.12.0.txt
  doc/tutorial/distributions.ipynb
  seaborn/distributions.py
  seaborn/tests/test_distributions.py
Labels: bugfix, mod:distributions

#2468 Fix faceted bivariate histogram normalization at displot
  seaborn/distributions.py
  seaborn/tests/test_distributions.py
Labels: bugfix, mod:distributions

#2473 Don't fail when docstrings have been stripped by -OO mode
  seaborn/_docstrings.py
Labels: internals

#2477 Fix histplot shrink with non-discrete bins
  doc/releases/v0.12.0.txt
  seaborn/distributions.py
  seaborn/tests/test_distributions.py
Labels: bugfix, mod:distributions
