Repository mwaskom/seaborn, pull requests merged in 2022-08, with the labels that each got.

#2904 Added new test for heatmap
  tests/test_matrix.py
Labels: testing

#2933 Document the legend argument of categorical scatterplots
  doc/_docstrings/stripplot.ipynb
  doc/_docstrings/swarmplot.ipynb
  examples/jitter_stripplot.py
  seaborn/categorical.py
Labels: docs, mod:categorical, mod:palettes

#2929 Add rudimentary themeing support
  seaborn/_core/plot.py
  tests/_core/test_plot.py
  tests/_marks/test_lines.py
Labels: objects-plot, feature

#2934 Allow Plot.label to control title(s)
  seaborn/_core/plot.py
  tests/_core/test_plot.py
Labels: objects-plot, feature

#2939 Change scipy/statsmodels install extra to be [stats] and do some housekeeping
  .coveragerc
  .github/workflows/ci.yaml
  LICENSE.md
  MANIFEST.in
  README.md
  doc/installing.rst
  doc/whatsnew/v0.12.0.rst
  seaborn/__init__.py
  setup.cfg
  setup.py
Labels: infrastructure

#2941 Rename all mark/stat modules to be singular
  seaborn/_marks/bar.py
  seaborn/_marks/line.py
  seaborn/_stats/histogram.py
  seaborn/objects.py
  tests/_marks/test_bar.py
  tests/_marks/test_line.py
  tests/_stats/test_histogram.py
Labels: internals, objects-mark, objects-stat

#2940 Replace setup.py with pyproject.toml configured to use flit for builds
  MANIFEST.in
  pyproject.toml
  seaborn/__init__.py
  setup.py
Labels: infrastructure

#2942 Rename Scatter mark to Dots
  doc/api.rst
  doc/nextgen/demo.ipynb
  doc/nextgen/index.ipynb
  seaborn/_core/properties.py
  seaborn/_marks/dot.py
  seaborn/objects.py
  tests/_marks/test_dot.py
Labels: objects-mark

#2946 Work around Series.agg non-aggregation behavior in EstimateAggregator
  seaborn/_statistics.py
  tests/test_statistics.py
Labels: bugfix

#2944 Adding Grid.tick_params() method.
  doc/whatsnew/v0.12.0.rst
  seaborn/axisgrid.py
  tests/test_axisgrid.py
Labels: mod:axisgrid, feature

#2949 Switch barplot tests from ci to errorbar
  tests/test_categorical.py
Labels: testing

#2953 Fix: shifting margins caused by multiple rugplots
  doc/whatsnew/v0.12.0.rst
  seaborn/utils.py
  tests/test_distributions.py
Labels: mod:distributions, bugfix

#2945 Renaming: Ribbon -> Band, Interval -> Range
  doc/api.rst
  doc/nextgen/api.rst
  doc/nextgen/demo.ipynb
  seaborn/_marks/area.py
  seaborn/_marks/line.py
  seaborn/objects.py
  tests/_marks/test_area.py
  tests/_marks/test_line.py
Labels: objects-mark

#2948 Accept Stat and/or Move(s) as anonymous positional args in Plot.add
  doc/nextgen/demo.ipynb
  seaborn/_core/moves.py
  seaborn/_core/plot.py
  tests/_core/test_moves.py
  tests/_core/test_plot.py
Labels: api, objects-plot

#2954 Rename Plot.configure -> Plot.layout, add Plot.share, and modify Plot.layout parameters
  doc/nextgen/api.rst
  doc/nextgen/demo.ipynb
  doc/nextgen/index.ipynb
  seaborn/_core/plot.py
  tests/_core/test_plot.py
Labels: api, objects-plot

#2956 Remove Tk backend build from Github CI
  .github/workflows/ci.yaml
Labels: testing, infrastructure

#2969 Don't apply layout algorithm by default after Plot.on
  seaborn/_core/plot.py
  tests/_core/test_plot.py
Labels: enhancement, objects-plot

#2974 Remove default pairing from Plot.pair and clean up interface
  seaborn/_core/plot.py
  seaborn/_core/typing.py
  tests/_core/test_plot.py
Labels: api, objects-plot

#2979 Fix visibility of internal axis labels with Plot.pair(wrap=...)
  seaborn/_core/plot.py
  seaborn/_core/subplots.py
  tests/_core/test_plot.py
  tests/_core/test_subplots.py
Labels: bugfix, objects-plot

#2971 Address breakage from matplotlib 3.6.0rc1
  seaborn/_compat.py
  seaborn/_core/plot.py
  seaborn/axisgrid.py
  seaborn/cm.py
  seaborn/matrix.py
  seaborn/palettes.py
  seaborn/rcmod.py
  tests/_core/test_properties.py
  tests/test_categorical.py
  tests/test_core.py
  tests/test_matrix.py
  tests/test_palettes.py
  tests/test_relational.py
  tests/test_utils.py
Labels: testing, upstream

#2970 Add API examples for Plot methods
  doc/_docstrings/objects.Plot.add.ipynb
  doc/_docstrings/objects.Plot.facet.ipynb
  doc/_docstrings/objects.Plot.label.ipynb
  doc/_docstrings/objects.Plot.layout.ipynb
  doc/_docstrings/objects.Plot.limit.ipynb
  doc/_docstrings/objects.Plot.on.ipynb
  doc/_docstrings/objects.Plot.pair.ipynb
  doc/_docstrings/objects.Plot.scale.ipynb
  doc/_docstrings/objects.Plot.share.ipynb
  doc/_docstrings/objects.Plot.theme.ipynb
  doc/_templates/autosummary/plot.rst
  doc/api.rst
  doc/index.rst
  doc/installing.rst
  seaborn/_core/moves.py
  seaborn/_core/plot.py
  seaborn/_core/scales.py
  seaborn/_marks/base.py
  seaborn/_stats/base.py
  seaborn/objects.py
  tests/_core/test_scales.py
Labels: docs, objects-plot

#2983 Add docstring examples for Mark objects
  doc/_docstrings/objects.Area.ipynb
  doc/_docstrings/objects.Band.ipynb
  doc/_docstrings/objects.Bar.ipynb
  doc/_docstrings/objects.Bars.ipynb
  doc/_docstrings/objects.Dot.ipynb
  doc/_docstrings/objects.Dots.ipynb
  doc/_docstrings/objects.Line.ipynb
  doc/_docstrings/objects.Lines.ipynb
  doc/_docstrings/objects.Path.ipynb
  doc/_docstrings/objects.Paths.ipynb
  doc/_docstrings/objects.Range.ipynb
  doc/_templates/autosummary/plot.rst
  doc/api.rst
  doc/conf.py
  seaborn/_core/plot.py
  seaborn/_marks/area.py
  seaborn/_marks/bar.py
  seaborn/_marks/dot.py
  seaborn/_marks/line.py
  seaborn/utils.py
Labels: docs, objects-mark
