Repository mwaskom/seaborn, pull requests merged in 2022-05, with the labels that each got.

#2794 Add upper limit on jinja for compat with pinned sphinx
  doc/requirements.txt
Labels: docs, infrastructure

#2795 Add 3.10 build to CI
  .github/workflows/ci.yaml
Labels: testing, infrastructure

#2799 CI: Update used actions, cache pip deps, 3.10 tests
  .github/workflows/ci.yaml
Labels: infrastructure

#2801 conftest.py: Fix Pandas deprecation warnings
  seaborn/conftest.py
Labels: upstream

#2803 Rename fixed_scale to native_scale and invert boolean
  doc/docstrings/stripplot.ipynb
  doc/docstrings/swarmplot.ipynb
  doc/releases/v0.12.0.txt
  seaborn/categorical.py
  seaborn/tests/test_categorical.py
Labels: api, mod:categorical

#2804 Enforce keywords for most args and rearrange signatures
  doc/releases/v0.12.0.txt
  seaborn/_decorators.py
  seaborn/axisgrid.py
  seaborn/categorical.py
  seaborn/distributions.py
  seaborn/matrix.py
  seaborn/regression.py
  seaborn/relational.py
  seaborn/tests/test_decorators.py
Labels: api

#2806 Deprecate distplot more agressively with guide to updating
  seaborn/distributions.py
  seaborn/tests/test_axisgrid.py
  seaborn/tests/test_distributions.py
Labels: plots, mod:distributions

#2807 Remove deprecated parameters from signatures and improve warnings
  seaborn/distributions.py
  seaborn/tests/test_distributions.py
Labels: api, mod:distributions

#2808 Pyupgrade 3.7: Update syntax with Python 3.7+ features
  doc/conf.py
  doc/sphinxext/gallery_generator.py
  doc/tools/set_nb_kernels.py
  seaborn/axisgrid.py
  seaborn/categorical.py
  seaborn/external/appdirs.py
  seaborn/external/docscrape.py
  seaborn/external/kde.py
  seaborn/matrix.py
  seaborn/regression.py
  seaborn/tests/test_axisgrid.py
  seaborn/tests/test_distributions.py
  seaborn/tests/test_utils.py
Labels: internals

#2812 Fix histplot/kdeplot normalization with weights
  doc/releases/v0.12.0.txt
  seaborn/distributions.py
  seaborn/tests/test_distributions.py
Labels: mod:distributions, bugfix

#2813 Fix histplot binwidth edgecases
  doc/releases/v0.12.0.txt
  seaborn/_statistics.py
  seaborn/axisgrid.py
  seaborn/regression.py
  seaborn/tests/test_statistics.py
Labels: mod:distributions, bugfix

#2816 Drop missing data centrally while allowing marks to disable
  seaborn/_core/plot.py
  seaborn/_core/properties.py
  seaborn/_marks/basic.py
  seaborn/_marks/scatter.py
  seaborn/tests/_marks/test_scatter.py
Labels: objects-core

#2814 Fix inner box with unpaired split violins
  doc/releases/v0.12.0.txt
  seaborn/categorical.py
  seaborn/tests/test_categorical.py
Labels: mod:categorical, bugfix

#2817 Fix multiple moves with pairing
  seaborn/_core/plot.py
  seaborn/tests/_core/test_plot.py
Labels: objects-plot

#2818 Fix inferred y orientation with computed x variable
  seaborn/_core/plot.py
  seaborn/_marks/base.py
  seaborn/tests/_core/test_plot.py
Labels: objects-plot

#2822 Differentiate Line/Path and add Lines/Paths alternatives
  doc/nextgen/api.rst
  seaborn/_core/plot.py
  seaborn/_marks/base.py
  seaborn/_marks/basic.py
  seaborn/_marks/lines.py
  seaborn/objects.py
  seaborn/tests/_marks/test_bars.py
  seaborn/tests/_marks/test_lines.py
Labels: objects-mark
