Repository mwaskom/seaborn, pull requests merged in 2022-10, with the labels that each got.

#3045 Histogram refactoring and improvements
  doc/_docstrings/objects.Hist.ipynb
  seaborn/_statistics.py
  seaborn/_stats/base.py
  seaborn/_stats/histogram.py
  seaborn/distributions.py
  tests/_stats/test_histogram.py
  tests/test_axisgrid.py
  tests/test_distributions.py
Labels: mod:distributions, objects-stat

#3051 Text mark
  doc/_docstrings/objects.Text.ipynb
  doc/_tutorial/properties.ipynb
  doc/api.rst
  doc/whatsnew/v0.12.1.rst
  seaborn/_core/plot.py
  seaborn/_core/properties.py
  seaborn/_marks/base.py
  seaborn/_marks/text.py
  seaborn/objects.py
  tests/_core/test_plot.py
  tests/_marks/test_text.py
  tests/test_objects.py
Labels: objects-mark, feature

#3055 Fix Plot legend with > 2 layers
  seaborn/_core/plot.py
  tests/_core/test_plot.py
Labels: bugfix, objects-plot

#3060 Mark as non-compatible with matplotlib 3.6.1
  pyproject.toml
Labels: upstream

#3056 Cover full extent of data in Band/Range when not given min/max explicitly
  doc/_docstrings/objects.Band.ipynb
  doc/_docstrings/objects.Range.ipynb
  doc/whatsnew/v0.12.1.rst
  seaborn/_marks/area.py
  seaborn/_marks/line.py
  tests/_marks/test_area.py
  tests/_marks/test_line.py
Labels: objects-mark, feature

#3062 Fix data cache env variable in ci build
  .github/workflows/ci.yaml
Labels: testing, infrastructure

#3065 Fix unfilled kdeplot cmap regression
  doc/whatsnew/v0.12.1.rst
  seaborn/distributions.py
  seaborn/utils.py
  tests/test_distributions.py
Labels: mod:distributions, bugfix

#3064 Use a stable algorithm in sorting marks
  doc/whatsnew/v0.12.1.rst
  seaborn/_marks/area.py
  seaborn/_marks/line.py
Labels: enhancement, objects-mark

#3063 Add Perc stat for computing percentiles
  doc/_docstrings/objects.Perc.ipynb
  doc/api.rst
  doc/whatsnew/v0.12.1.rst
  seaborn/_stats/aggregation.py
  seaborn/_stats/order.py
  seaborn/objects.py
  tests/_stats/test_order.py
Labels: objects-stat, feature

#3066 Make Jitter do something by default
  doc/_docstrings/objects.Jitter.ipynb
  doc/whatsnew/v0.12.1.rst
  seaborn/_core/moves.py
  seaborn/_core/plot.py
  seaborn/_core/typing.py
  tests/_core/test_moves.py
Labels: enhancement, objects-move

#3016 Add label parameter to pointplot
  doc/whatsnew/v0.12.1.rst
  seaborn/categorical.py
  tests/test_categorical.py
Labels: enhancement, mod:categorical, bugfix

#3069 Tweak nominal scale axes akin to categorical axes in classic seaborn
  doc/whatsnew/v0.12.1.rst
  seaborn/_core/plot.py
  tests/_core/test_plot.py
Labels: enhancement, objects-plot

#3074 Add Dash mark
  doc/_docstrings/objects.Dash.ipynb
  doc/api.rst
  doc/whatsnew/v0.12.1.rst
  seaborn/_marks/line.py
  seaborn/objects.py
  tests/_marks/test_line.py
Labels: objects-mark, feature

#3081 Avoid aggregating in lineplot when not necessary
  doc/whatsnew/v0.12.1.rst
  seaborn/relational.py
  tests/test_relational.py
Labels: mod:regression, perf

#3084 Fix Plot with no variance in orient dimension
  doc/whatsnew/v0.12.1.rst
  seaborn/_core/scales.py
  tests/_core/test_plot.py
  tests/_marks/test_line.py
Labels: bugfix, objects-plot

#3086 Add Count stat
  doc/_docstrings/objects.Count.ipynb
  doc/api.rst
  doc/whatsnew/v0.12.1.rst
  seaborn/_stats/aggregation.py
  seaborn/_stats/counting.py
  seaborn/distributions.py
  seaborn/objects.py
  tests/_stats/test_counting.py
Labels: objects-stat, feature

#3087 Allow base=None to disable log formatter in Continuous.label
  doc/whatsnew/v0.12.1.rst
  seaborn/_core/scales.py
  tests/_core/test_scales.py
Labels: enhancement, api, objects-scale

#3088 Add docstrings and API examples for remaining transform objects
  doc/_docstrings/objects.Agg.ipynb
  doc/_docstrings/objects.Dodge.ipynb
  doc/_docstrings/objects.Est.ipynb
  doc/_docstrings/objects.Norm.ipynb
  doc/_docstrings/objects.Shift.ipynb
  doc/_docstrings/objects.Stack.ipynb
  seaborn/_core/moves.py
  seaborn/_stats/aggregation.py
Labels: docs, objects-stat, objects-move

#3110 include note in stripplot docstring about edgecolor depending on linewidth
  seaborn/categorical.py
Labels: docs, mod:distributions

#3111 Add KDE stat
  Makefile
  doc/_docstrings/objects.KDE.ipynb
  doc/api.rst
  doc/whatsnew/v0.12.2.rst
  seaborn/_stats/base.py
  seaborn/_stats/counting.py
  seaborn/_stats/density.py
  seaborn/external/kde.py
  seaborn/objects.py
  tests/_stats/test_counting.py
  tests/_stats/test_density.py
Labels: objects-stat, feature

#3116 Don't pass label when creating color cycle scout
  doc/whatsnew/v0.12.2.rst
  seaborn/utils.py
  tests/test_distributions.py
Labels: bugfix

#3119 Compute spacing/width separately for unshared axes
  doc/_docstrings/objects.Norm.ipynb
  doc/whatsnew/v0.12.2.rst
  seaborn/_core/plot.py
  seaborn/utils.py
  tests/_core/test_plot.py
Labels: enhancement, objects-plot
