Repository mwaskom/seaborn, pull requests merged in 2023-05, with the labels that each got.

#3344 Add security policy
  SECURITY.md
Labels: infrastructure

#3332 Remove matplotlib cache manipulation
  seaborn/_core/plot.py
  seaborn/palettes.py
Labels: upstream, internals

#3336 ecdfplot stat parameter manage percent
  doc/_docstrings/ecdfplot.ipynb
  seaborn/_statistics.py
  tests/test_statistics.py
Labels: mod:distributions, statistics, feature, needs-release-note

#3356 Handle statsmodels PerfectSeparationWarning on 0.14.0+
  seaborn/regression.py
Labels: mod:regression, upstream

#3353 Modernize and enhance violinplot
  doc/_docstrings/barplot.ipynb
  doc/_docstrings/violinplot.ipynb
  doc/_tutorial/categorical.ipynb
  doc/whatsnew/index.rst
  examples/wide_form_violinplot.py
  seaborn/categorical.py
  seaborn/utils.py
  tests/test_categorical.py
  tests/test_utils.py
Labels: refactor, mod:categorical, needs-release-note

#3361 Add gap/fill parameters to barplot and countplot
  seaborn/categorical.py
  tests/test_categorical.py
Labels: enhancement, mod:categorical
