Repository mwaskom/seaborn, pull requests merged in 2023-11, with the labels that each got.

#3547 Fix edgecolor in catplot with kind='bar'
  seaborn/categorical.py
  tests/test_categorical.py
Labels: mod:categorical, bugfix, needs-release-note

#3540 FIX #3537 Disabling the legend based on the x-axis and hue values
  seaborn/categorical.py
  tests/test_categorical.py
Labels: mod:categorical, bugfix

#3516 FIX: handle potential TypeError when determining variable type
  seaborn/_base.py
  seaborn/_core/rules.py
  tests/_core/test_rules.py
  tests/test_base.py
Labels: bugfix, mod:base, needs-release-note

#3562 Pass bootstrap option to boxplot stat computation
  seaborn/categorical.py
Labels: mod:categorical, bugfix, needs-release-note

#3569 [Fix issue][#3511]lineplot of empty dataframe with hue in seaborn 0.13.0
  seaborn/_base.py
  tests/test_relational.py
Labels: bugfix, mod:base, needs-release-note

#3577 MAINT: remove obsolete matplotlib version compatibility
  pyproject.toml
  seaborn/_compat.py
  seaborn/_core/plot.py
  seaborn/_core/scales.py
  seaborn/_core/subplots.py
  seaborn/_marks/bar.py
  tests/_core/test_plot.py
  tests/_core/test_properties.py
  tests/_core/test_scales.py
  tests/test_regression.py
Labels: internals
