Repository mwaskom/seaborn, pull requests merged in 2023-04, with the labels that each got.

#3310 Refactor to simplify desaturation in categorical plots
  seaborn/_oldcore.py
  seaborn/categorical.py
  seaborn/utils.py
  tests/test_core.py
  tests/test_utils.py
Labels: mod:categorical, internals

#3317 Fixed mwaskom/seaborn#3272
  seaborn/categorical.py
  tests/test_categorical.py
Labels: mod:categorical, bugfix

#3323 Temporarily restrict sphinx version to unbreak docs build
  pyproject.toml
Labels: docs

#3316 Bugfix issue 3230
  doc/whatsnew/v0.13.0.rst
  seaborn/relational.py
  tests/test_relational.py
Labels: mod:relational, bugfix

#3337 Refactor new categorical internals
  seaborn/categorical.py
  seaborn/utils.py
  tests/test_categorical.py
Labels: internals

#3348 Fix lint rule to run flake8 on test suite
  Makefile
  tests/_stats/test_regression.py
Labels: infrastructure
