Repository mwaskom/seaborn, pull requests merged in 2023-12, with the labels that each got.

#3580 Add support for weights in objects.Est
  doc/_docstrings/objects.Est.ipynb
  seaborn/_statistics.py
  seaborn/_stats/aggregation.py
  tests/_stats/test_aggregation.py
  tests/test_statistics.py
Labels: enhancement, objects-stat, needs-release-note

#3586 Add weighted estimation in function interface
  seaborn/_statistics.py
  seaborn/_stats/aggregation.py
  seaborn/categorical.py
  seaborn/relational.py
  tests/test_categorical.py
  tests/test_relational.py
  tests/test_statistics.py
Labels: enhancement, mod:relational, mod:categorical, needs-release-note

#3552 Add extent to Plot.layout configuration
  doc/_docstrings/objects.Plot.layout.ipynb
  seaborn/_compat.py
  seaborn/_core/plot.py
  seaborn/_core/subplots.py
  tests/_core/test_plot.py
Labels: enhancement, objects-plot, needs-release-note

#3595 Link to error bar tutorial from parameter documentation
  seaborn/_statistics.py
  seaborn/categorical.py
Labels: docs

#3599 Crosslink to aesthetics tutorial from set_context/plotting_context
  seaborn/rcmod.py
Labels: docs, themes

#3602 Add a missing raise in kdeplot and slightly improve lmplot signature
  seaborn/distributions.py
  seaborn/regression.py
  tests/test_distributions.py
Labels: bugfix

#3604 Change how pandoc gets installed in CI
  .github/workflows/ci.yaml
Labels: infrastructure

#3605 Avoid error when dodge=True, hue=None
  seaborn/categorical.py
  tests/test_categorical.py
Labels: mod:categorical, bugfix, needs-release-note

#3600 FIX: Enable xticklabels for all bottom axes
  seaborn/_core/plot.py
  tests/_core/test_plot.py
Labels: bugfix, objects-plot, needs-release-note

#3607 Cleanup compat code for obsolete versions of dependencies
  seaborn/_base.py
  seaborn/_compat.py
  seaborn/_core/plot.py
  seaborn/_core/properties.py
  seaborn/_statistics.py
  seaborn/categorical.py
  seaborn/distributions.py
  seaborn/relational.py
  seaborn/utils.py
  tests/_core/test_plot.py
  tests/_core/test_properties.py
  tests/test_matrix.py
Labels: internals
