Repository mwaskom/seaborn, pull requests merged in 2023-02, with the labels that each got.

#3234 Retrieve list of available datasets from a github url with correct CORS headers set.
  seaborn/utils.py
  tests/test_utils.py
Labels: internals

#3246 Remove container added when inferring default color for bar artist
  seaborn/distributions.py
  seaborn/utils.py
  tests/test_distributions.py
Labels: mod:distributions, bugfix, needs-release-note

#3267 Refactor countplot to use common infra and add stat parameter for normalization
  doc/_docstrings/countplot.ipynb
  seaborn/categorical.py
  seaborn/utils.py
  tests/test_categorical.py
Labels: refactor, mod:categorical, needs-release-note

#3270 Modernize pointplot and increase its flexibility
  doc/_docstrings/pointplot.ipynb
  seaborn/_core/typing.py
  seaborn/_oldcore.py
  seaborn/categorical.py
  seaborn/relational.py
  seaborn/utils.py
  tests/test_categorical.py
Labels: refactor, mod:categorical, needs-release-note

#3271 Remove vestigial bar/point/countplot code
  seaborn/categorical.py
  tests/test_categorical.py
Labels: mod:categorical

#3276 Fix heatmap `norm=None` issue
  seaborn/matrix.py
  tests/test_matrix.py
Labels: mod:matrix

#3278 Avoid matplotlib 3.7.0 warnings
  examples/heat_scatter.py
  seaborn/_compat.py
  seaborn/axisgrid.py
  seaborn/utils.py
  tests/test_axisgrid.py
  tests/test_categorical.py
  tests/test_relational.py
  tests/test_utils.py
Labels: upstream
